In [15]:
import pandas as pd
import numpy as np
from INDOML.pre_proceesing.EDA import Skalasisasi

In [16]:
#read data set
df = pd.read_csv('auto-mpg.csv')
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

# BERDASARKAN EDA TERDAPAT RECORD KOSONG PADA KOLOM HORSEPOWER 

record kosong tersebut akan diisi dengan mean dari horsepower<br>, 
alasan pengisian dengan mean karena horsepower mempunyai distribusi cenderung normal dan sedikit memiliki outliers

In [17]:
#hitung mean
total = 0
for i in df['horsepower']:
    if i != '?':
        total += float(i)

mean = total /(len(df)-6)
mean

104.46938775510205

In [18]:
#isi data kosong dengan mean
df['horsepower']= df['horsepower'].replace('?',mean)

In [19]:
#rubah tipe data pada kolom horsepower dari string ke float
df['horsepower'] = df['horsepower'].astype(float)
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

# Melakukan Normalisasi
karena fitur-fitur terdapat fitur kontinyu dan diskrit maka normalisasi dilakukan menggunakan minmax scaller

In [20]:
#normalisasi 
skal = Skalasisasi(df[df.columns[2:-3]])
data_scale = skal.minmax_scaler()

In [21]:
#tambahkan kolom target
#kolom car_names tidak ditambahkan lagi karena kurang relevan


data_scale['cylinders'] = df['cylinders'].to_numpy()
data_scale['origin'] = df['origin'].to_numpy()
data_scale['model_year'] = df['model_year'].to_numpy()
data_scale['mpg'] = df['mpg'].to_numpy()
data_scale

,displacement,horsepower,weight,acceleration,cylinders,origin,model_year,mpg
0,0.617571,0.456522,0.536150,0.238095,8,1,70,18.0
1,0.728682,0.646739,0.589736,0.208333,8,1,70,15.0
2,0.645995,0.565217,0.516870,0.178571,8,1,70,18.0
3,0.609819,0.565217,0.516019,0.238095,8,1,70,16.0
4,0.604651,0.510870,0.520556,0.148810,8,1,70,17.0
...,...,...,...,...,...,...,...,...
393,0.186047,0.217391,0.333711,0.452381,4,1,82,27.0
394,0.074935,0.032609,0.146583,0.988095,4,2,82,44.0
395,0.173127,0.206522,0.193365,0.214286,4,1,82,32.0
396,0.134367,0.179348,0.286929,0.630952,4,1,82,28.0
397,0.131783,0.195652,0.313864,0.678571,4,1,82,31.0

In [22]:
data_scale.to_csv('data_minmax.csv',index=False)